#elon{
    width: 500px;
    height: 500px;

    background: url("../img/elon1.png");
    background-size: contain;

    position: relative;

    display: inline-block;

}

#elon:hover{
    background: url("../img/elon2.png");
    background-size: contain;
    animation: elon-hover-anim 1s forwards;
}
@keyframes elon-hover-anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  #elon:hover::after{
    content: "Как тебе такое?";
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 10%;
  }

  #elon:active{
    background: transparent;
  }
  #elon:active::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background: url("../img/elon3.png");
    background-size: contain;
    animation: elon-active-anim 3s forwards;
    -webkit-filter: sepia(0);
  }

  #elon:active::after{
    position: absolute;
    content: "Это еще не тесла :)";
    right: 0;
    top: 0;
  }

  
@keyframes elon-active-anim{
    0% {top: 50%; left: 0px;-webkit-filter: sepia(100%);}
    100%{top: 0px; left: 50%;-webkit-filter: sepia(0);}
  }