#pic-container{
    position: relative;
    width: 200px;
    height: 200px;
}


#bird-body{
    position:absolute;
    left: 25%;
    top: 5%;
    width: 50%;
    height: 75%;
}
#bird-body::before,
#bird-body::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(13, 101, 158);
}
#bird-body::after{
    left: 3%;
    top: 2%;
    width: 94%;
    height: 96%;
    background: rgb(75, 187, 206);
}

#bird-body-gradient{
    position:absolute;
    left: 27.5%;
    top: 35%;
    width: 45%;
    height: 45%;
    background: radial-gradient(white 0, transparent 50%);
}
#bird-arms{
    position: absolute;
    width: 100%;
    height: 100%;
}
#bird-arms::before,
#bird-arms::after{
    position:absolute;
    content: "";
    top: 30%;
    width: 50%;
    height: 25%;
    border-radius: 50%;
    transform: rotate(-45deg);
    background: rgb(13, 101, 158);
}
#bird-arms::after{
    left: 42.5%;
    transform: rotate(45deg);
}
#bird-arms-gradient{
    position:absolute;
    left: 5%;
    top: 42.5%;
    width: 22.5%;
    height: 22.5%;
    background: radial-gradient(white 0, transparent 60%);
}
#bird-arms-gradient2{
    position:absolute;
    left: 67.5%;
    top: 42.5%;
    width: 22.5%;
    height: 22.5%;
    background: radial-gradient(white 0, transparent 60%);
}


#bird-leg1{
    position: absolute;
    top: 75%;
    left: 40%;
    border-right: 5px solid rgb(13, 101, 158);
    height: 20%;
    width: 2.5%;
    transform: rotate(10deg);
}
#bird-leg1::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 25%;
    top: 80%;
    border-top: 5px solid;
    border-left: 5px solid;
    border-color: rgb(13, 101, 158);
    transform: rotate(45deg);
}
#bird-leg2{
    position: absolute;
    top: 75%;
    left: 51%;
    border-right: 5px solid rgb(13, 101, 158);
    height: 20%;
    width: 2.5%;
    transform: rotate(10deg);
}
#bird-leg2::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 25%;
    top: 80%;
    border-top: 5px solid;
    border-left: 5px solid;
    border-color: rgb(13, 101, 158);
    transform: rotate(45deg);
}

#bird-nose{
    position: absolute;
    width: 0;
    height: 0;
    left: 45%;
    top: 42.5%;
    border-top: 20px solid rgb(13, 101, 158);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#bird-eye1{
    position:absolute;
    left: 32.5%;
    top: 25%;
    width: 10%;
    height: 20%;
}

#bird-eye1::before,
#bird-eye1::after{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(13, 101, 158);
}
#bird-eye1::after{
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    background:white;
}
#bird-eye-inner1{
    position:absolute;
    left: 32.5%;
    top: 28%;
    width: 5%;
    height: 12.5%;
    border-radius: 50%;
    background: rgb(13, 101, 158);
}
#bird-eye2{
    position:absolute;
    left: 57.5%;
    top: 25%;
    width: 10%;
    height: 20%;
}

#bird-eye2::before,
#bird-eye2::after{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(13, 101, 158);
}
#bird-eye2::after{
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    background:white;
}
#bird-eye-inner2{
    position:absolute;
    left: 57.5%;
    top: 28%;
    width: 5%;
    height: 12.5%;
    border-radius: 50%;
    background: rgb(13, 101, 158);
}

#bird-hair1{
    position:absolute;
    width: 0;
    height: 0;
    left: 42.5%;
    top: 0;

    border-left: 10px solid transparent;
    border-bottom: 20px solid rgb(13, 101, 158);
}
#bird-hair2{
    position:absolute;
    width: 0;
    height: 0;
    left: 47.5%;
    top: 0;

    border-left: 10px solid transparent;
    border-bottom: 20px solid rgb(13, 101, 158);
}
#bird-hair3{
    position:absolute;
    width: 0;
    height: 0;
    left: 52.5%;
    top: 0;

    border-left: 10px solid transparent;
    border-bottom: 20px solid rgb(13, 101, 158);
}
